.home {
  margin-top: 270px;
}

.home a {
  font-size: 32px;
  color: #808080;
}
.description {
  font-size: 32px;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.description span{
  color: #808080;
  font-size: 32px;
}

.dark {
  color: #444;
  background-color: #61dafb;
  margin-right: 5px;
  margin-left: 5px;
}

.light {
  color: #61dafb;
  background-color: #444;
  margin-right: 5px;
  margin-left: 5px;
}