.name {
  font-size: 50px;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 0px;
  display: inline-block;
  padding-right: 20px;
}

.item a {
  cursor: pointer;
  color: #61dafb;
  transition: all .3s ease-in;
  border-bottom: 2px solid transparent;
}

.item a:hover {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}

.authorName {
  color: #61dafb;
  margin-bottom: 0px;
}
