* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #191919;
  color: #e5e5e5;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

:global(.List) {
  padding: 0 2rem;
  min-height: 80rem;
}

@media (max-width: 768px) {
  :global(.List) { padding: 0; }
}
:global(.Row) {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

ul {
  list-style:none;
}

pre {
  padding: 1rem;
  margin: 1rem;
}

pre, code {
  background-color: #e5e5e5;
  color: #252525;
}
