.item {
  margin-left: 40px;
  margin-right: 40px;
}

.name {
  font-size: 50px;
  font-weight: bold;
  color: #444;
  margin-bottom: 0px;
  display: inline-block;
  padding-right: 20px;
}

.item a {
  cursor: pointer;
  color: #61dafb;
  transition: all .3s ease-in;
  border-bottom: 2px solid transparent;
}

.item a:hover {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}

.link {
  transition: all .3s ease-in;
  border-bottom: 4px solid transparent !important;
}

.link:hover {
  color: #444;
  border-bottom: 4px solid #444 !important;
}

.count {
  font-size: 40px;
}

.authorName {
  color: #61dafb;
  margin-bottom: 0px;
}