.SiteSidebar {
  background: #252525;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition-duration: 0.75s;
  transition-property: transform, margin-left;
  width: 28rem;
  z-index: 100;
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

:global(.Open) {
  transform: translateX(0) !important;
  width: 28rem !important;
}

@media (min-width: 480px) {
  .SiteSidebar {
    transform: translateX(0) !important;
    width: 28rem !important;
  }
}

@media (max-width: 480px) {
  .SiteSidebar {
    transform: translateX(-100vw);
    width: 100vw;
  }
}

.Label {
  color: #fff;
  font-size: 2rem;
  margin: 2rem;
  font-weight: bold;
}

.Link {
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 2rem;
  text-decoration: none;
}

.ActiveLink {
  background: #191919;
}
.ActiveLink .LinkText {
  font-weight: bold;
}

.LinkText {
  flex: 1;
}
